.contentCreateTest{
    border: 1px solid #f0eeed;
    border-top: 2rem solid #f0eeed; 
    margin: 1rem 1rem;
    border-radius: 10px;
    padding: 1rem;
}
.numQuestion h5{
    font-weight: 600;
    color: black;
}